body{
    margin: 0;
    padding: 0;
    background-color: #fbe8e3;
}

h1{
    font-size: 64px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    margin: 2% 2% 2% 2%;
}

header{
    background-color: #c59eb3;
    padding: 10px 0;
    text-align: center;
    color: #3c2d51;
}

h2{
    font-size: 32px;
    text-align: center;
    color: #3c2d51;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

nav ul{
    list-style: none;
    padding: 0;
}

nav ul li{
    display: inline;
    margin-right: 25px;
}

nav ul li a{
    color: #3c2d51;
    text-decoration: none;
    font-size: 20px;
}

nav ul li a:hover{ /*color when hovering over options on nav menu*/
    color: #694F8E;
}

p{
    color: #694F8E;
    text-align: center;
    background-color: #fbe8e3;
    margin: 0;
    padding: 28px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

.ksu{
    height: fit-content;
    height: 600px;
    width: auto;
}

img{
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.card{
    text-align: center;
    border-radius: 12px;
    width: 400px;
    height: auto;
}

.img{
    text-align: center;
    border-radius: 12px;
    width: 90%;
    height: fit-content;
    margin-top: 50%;
}

.spacing{ /*setup to make grid responsive*/
    grid-template-columns: 1fr 1fr;
    display: grid;
    margin: 0 10% 0 10%;
}

@media (max-width:800px){ /*resizing for responsivness*/
    .spacing{
        grid-template-columns: 1fr;
    }
    .img{
        margin-top: 10%;
    }
    .gallery{
        flex-direction: column;
        align-items: center;
    }
}

.gallery{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.ghost-bounce{ /*setting up where the ghost png is on the screen and the viewport height for it*/
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ghost{ /*setting up the size of the ghost as well as the animation it will be doing*/
    width: 100px;
    height: 100px;
    animation: bouncing 2.5s ease-in-out infinite;
}

@keyframes bouncing { /*telling the png how far to travel for the animation*/
    0%{
        transform: translateY(20px);
    }
    50%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(20px);
    }
}

main{
    margin: 0 10% 3% 10%;
    text-align: center;
}

.contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 16px;
    background-color: #decac5;
    border-radius: 20px;
}

.instagram{ /*adjusting how the button looks and where it appears on screen*/
    justify-content: center;
    width: 240px;
    height: 50px;
    font-size: 24px;
    background-color: #c59eb3;
    border-color: #c59eb3;
    border-radius: 6px;
}

.instagram a{
    text-decoration: none;
    color: #3c2d51;
}

.instagram:hover{ /*making the button interactive*/
    background-color: #957888;
}

h3{
    font-size: 16px;
    color: #3c2d51;
}

.contact-form input{
    padding: 12px;
    margin-bottom: 12px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    font-size: 16px;
}

.contact-form button {
    padding: 12px 12px;
    background-color: #957888;
    color: #fff;
    border-radius: 6px;
    border-color: #362a31;
    cursor: pointer;
}

.contact-form button a{
    text-decoration: none;
    color: #3c2d51;
}

.contact-form button:hover{
    background-color: #7f6674;
}

.contact-form input.error{ /*changes that occur when the error condition gets met*/
    border: 1px solid rgba(224, 0, 0, 0.6);
    background-color: rgba(224, 0, 0, 0.1);
} 